+#JOSE HERNANDO BENAVIDES ENRIQUEZ        C.C Nº 12.996.632

+
 +##Nombre:
 +
 +
 +##HOJA DE VIDA




Datos Personales



NOMBRE	JOSE HERNANDO BENAVIDES ENRIQUEZ
DOCUMENTO DE IDENTIDAD	12.996.632 de Pasto
FECHA DE NACIMIENTO	20 de Marzo de 1969
LUGAR DE NACIMIENTO	Tuquerres, Nariño.
ESTADO CIVIL		Soltero
CIUDAD		Pasto - Nariño
DIRECCIÓN		Calle 12B Nº 5-28, Barrio el
Pilar.		
TELÉFONO		7213603 / 3116008661
E-MAIL		joseherbe69@gmail.com
+
+
JOSE HERNANDO BENAVIDES ENRIQUEZ
C.C Nº 12.996.632





Perfil





•	Docente en el área de Matemáticas e Ingeniero de Sistemas egresado de la Universidad Nariño y de la Universidad Abierta y distancia Cead Pasto actualmente ejerzo como docente de tiempo completo en la parte rural y como Ingeniero de forma particular.

•	En la actualidad participo en un proyecto que se llama REGISTRADURIA COMUNAL la cual muy próximo será puesta en marcha para realizar una mejora en la parte de las juntas de acción comunal registro de afiliados.

•	Como Docente he trabajado en el sector rural por 7 años dentro de los cuales 3 años en la parte de la informática con estudiantes de grado octavo, noveno, decimo y once en temas relacionados con la tecnología e informática.





Formación Académica


Estudios Primarios: Institución educativa San Juan Bosco Dirección: Carrera 18 con 13B San

Juan de Pasto
Año de Inicio 1978 hasta el año de 1982

Estudios Secundarios: Institución educativa Municipal Técnico Industrial

Dirección: Carrera 27 4 35 San Juan de Pasto

Año de Inicio 1982 hasta Año Final 1988
+
+
JOSE HERNANDO BENAVIDES ENRIQUEZ
C.C Nº 12.996.632





Universitarios:	Universidad de Nariño

Dirección: Clle 18 Cr 50 Ciudadela
Universitaria Torobajo, San Juan de Pato

Año de Inicio 1993 hasta Año Final 1998

Titulo:	Licenciado en Matemáticas




Universitarios: Universidad Abierta y a distancia UNAD Pasto

Dirección Carrera 21A No 17-10
Centro, San Juan de Pato
Año de Inicio 2001 hasta Año Final 2008

Titulo:	Ingeniero de Sistemas


Idioma Extranjero:	Idioma Ingles

Dominio del idioma hablado (Regular, Bueno, Muy bueno) Dominio del idioma escrito (Regular, Bueno, Muy bueno)



Talleres y Cursos


Curso: Diplomado en gestión y control social del ambiente urbano, dictado por UNIVERSIDAD DE NARIÑO; duración 130 horas; San Juan de Pasto; septiembre 26 2008 a 31 de enero de 2009.

Curso: Diplomado en docencia virtual, dictado por POLITECNICO DE COLOMBIA; duración 100 horas; Medellín; septiembre 09 de 2013.
 +
 +
 
JOSE HERNANDO BENAVIDES ENRIQUEZ
C.C Nº 12.996.632




Experiencia Laboral




NOMBRE DE LA EMPRESA: Institución Educativa Municipal el Socorro

CARGO: docente

FUNCIONES: acompañamiento en la parte educativa a jóvenes del sector rural

JEFE INMEDIATO: Secretaria de Educación Municipal
TELEFONO: 7296001


NOMBRE DE LA EMPRESA: Centro Educativo Municipal el Campanero

CARGO: docente

FUNCIONES: acompañamiento en la parte educativa a jóvenes del sector rural

JEFE INMEDIATO: Secretaria de Educación Municipal
TELEFONO: 7296001



NOMBRE DE LA EMPRESA: Fundación Renacer
CARGO: Programador

FUNCIONES: sistematizar encuestas y bases de datos de proyectos de reforestación
JEFE INMEDIATO: Julio Chamorro Viveros

Tiempo de trabajo: 02 de junio 2009 hasta 02 de junio de 2010
 +
 +
 
JOSE HERNANDO BENAVIDES ENRIQUEZ
C.C Nº 12.996.632



NOMBRE DE LA EMPRESA: Colegio Ricaurte CARGO: docente

FUNCIONES: acompañamiento en la parte educativa a jóvenes del sector rural

JEFE INMEDIATO: Secretaria de Educación Departamental

TELEFONO: 7333737

Tiempo de trabajo: 28 de octubre1999 hasta 05 de julio de 2005




Referencias Familiares



NOMBRE COMPLETO REFERENCIA 1, NIRIAN JANETH BENAVIDES
ENRIQUEZ

Titulo: Contadora Publica Cargo actual: Administradora

Empresa o sitio donde labora: Ferretería y Vidrios Nariño Teléfono: 7200520

NOMBRE COMPLETO REFERENCIA 2, ANDRES EDUARDO RUALES
MARTINEZ

Titulo: Administrador Financiero Cargo actual: Administrador
Empresa o sitio donde labora: FerrePremier Teléfono: 3155078040





Referencias Personales


NOMBRE  COMPLETO  REFERENCIA  3,  FRANKY  ADRIAN  ERASO

CUASES
Titulo: Abogado

Cargo actual: Concejal de Pasto

Empresa o sitio donde labora: concejo municipal Teléfono: 3212572426
+
+

 
JOSE HERNANDO BENAVIDES ENRIQUEZ
C.C Nº 12.996.632



NOMBRE COMPLETO REFERENCIA 4, LILIA MUÑOZ MORCILLO Titulo: Licenciada EN Matemáticas

Cargo actual: Docente

Empresa o sitio donde labora: Centro Educativo Municipal el Campanero

Teléfono: 3122895929






















______________________________
JOSE HERNANDO BENAVIDES ENRIQUEZ

C.C. Nº 12996632 de Pasto
Twitter:              @joseherbe2003
Skype:                 elpilermo17@gmail.com

Fecha de Presentación de la Hoja de Vida 29 de agosto de 2016
